{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li class="" data-slide-to="0" data-target="#main-slider"></li>
                <li data-slide-to="1" data-target="#main-slider" class=""></li>
                <li data-slide-to="2" data-target="#main-slider" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div style="background-image: url(static/images/slider/bg3.jpg)" class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered" style="margin-top: 219px;">
                                    <h3 class="animation animated-item-1" style="color: black;">角膜にやさしいオルソケラトロジー</h3>
                                    <p class="animation animated-item-2" style="color: black;">酸素透過率が高く装用時間も短いため目への負担が軽減されます。<br>また、装用を中断すれば角膜形状が元に戻るため安心です。</p>
                                    <!-- a href="#" class="btn btn-md animation animated-item-3">Learn More</a -->
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="centered" style="margin-top: 129px;">
                                    <div class="embed-container">
                                        <!-- iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/69421653?title=0&amp;byline=0&amp;portrait=0&amp;color=a22c2f"></iframe -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div style="background-image: url(static/images/slider/bg1.jpg)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered" style="margin-top: 265px;">
                                    <h2 class="animation animated-item-1" style="color: black;">寝ている間に、、、</h2>
                                    <p class="animation animated-item-2" style="color: black;">見たかった世界を取り戻し、昼間は裸眼で過ごせる、<br>夢のコンタクトレンズ　オルソケラトロジー</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div style="background-image: url(static/images/slider/bg2.jpg)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered" style="margin-top: 219px;">
                                    <h3 class="animation animated-item-1" style="color: black;">取り扱いはシンプル</h3>
                                    <p class="animation animated-item-2" style="color: black;">朝、レンズを洗って、洗浄液につけるだけ。<br>とてもシンプルな取り扱い方法です。</p>
                                    <br>
                                    <!-- a href="#" class="btn btn-md animation animated-item-3">Learn More</a -->
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="centered" style="margin-top: 129px;">
                                    <div class="embed-container" style="margin-left:140px; width:400px; height:160px;">
					<iframe width="640" height="360" src="https://www.youtube.com/embed/PphEo5E030g" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
            <i class="icon-angle-left"></i>
        </a>
        <a data-slide="next" href="#main-slider" class="next hidden-xs">
            <i class="icon-angle-right"></i>
        </a>
    </section>
    <section class="emerald" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <!-- i class="icon-twitter icon-md"></i -->
                            <img src="{% static 'images/doctor_icon.jpg' %}" width=68 height=68>
                        </div>
                        <div class="media-body">
                            <a href="/doctor_ortho/">
                            <h3 class="media-heading">医療関係者の方へ</h3>
                            <p>医療関係者の方はこちらからお進み下さい</p>
                            </a>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <img src="{% static 'images/public_icon.jpg' %}" width=68 height=68>
                            <!-- i class="icon-facebook icon-md"></i -->
                        </div>
                        <div class="media-body">
                            <a href="/patient_ortho/">
                            <h3 class="media-heading">一般の方へ</h3>
                            <p>一般の方はこちらからお進み下さい</p>
                            </a>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-google-plus icon-md"></i>
                        </div>
                        <div class="media-body">
		            <a href='/invitation/'>
                            <h3 class="media-heading">モニター募集</h3>
                            <p>オルソケラトロジーモニターまでの流れ</p>
                            </a>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section>
	 <section id="recent-works">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>What's New/最新情報</h3>
                    <p>ここにサイトから配信する最新情報を３つ表示<br>スライダーを使って数ページ表示させることも可能</p>
                    <div class="btn-group">
                        <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                        <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    {% for news in page1 %}
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                              <div>{{ news.description }}</div>
                                              <a href="/blog/{{ news.slug }}/"><h5>{{ news.title }}</h5></a>
                                            </div>
                                        </div>
                                    </div>                            
                                    {% endfor %}
                                </div><!--/.row-->
                            </div><!--/.item-->
                            <div class="item">
                                <div class="row">
                                    {% for news in page2 %}
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                              <div>{{ news.description }}</div>
                                              <a href="/blog/{{ news.slug }}/"><h5>{{ news.title }}</h5></a>
                                            </div>
                                        </div>
                                    </div>                            
                                    {% endfor %}
                                </div>
                            </div><!--/.item-->
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </section><!--/#recent-works-->
	<section id="testimonial" class="alizarin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <h2>What our clients say</h2>
                        <p>ここに関係サイトへのリンク及びその他情報のサマリーを掲載</p>
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <blockquote>
                                <p>オルソケラトロジー（Orthokeratology）は、特殊なカーブデザインが施されたハードコンタクトレンズを装用することで角膜形状を変形して矯正し・・・</p>
                                <small><a href="https://ja.wikipedia.org/wiki/オルソケラトロジー">オルソケラトロジーについて（Wikipedia）</a></small>
                            </blockquote>
                            <blockquote>
                              <p>オルソケラトロジー（角膜矯正療法）による近視治療に係る費用の医療費控除</p>
                              <small><a href="http://www.nta.go.jp/shiraberu/zeiho-kaishaku/shitsugi/shotoku/05/66.htm">オルソケラトロジー　医療費控除等に関して（国税庁</a></small>
                            </blockquote>
                        </div>
                        <div class="col-md-6">
                            <blockquote>
                              <p>公益財団法人日本眼科学会は、眼科学の進歩発展を図り、もって人類・社会の福祉に貢献することを目的としております。</p>
                              <small><a href="http://www.nichigan.or.jp/member/guideline/orthokeratology.jsp">オルソケラトロジー　ガイドラインに関して（日本眼科学会）</a></small>
                            </blockquote>
                            <blockquote>
                                <p>アメリカ（FDA）のオルソケラトロジー承認品情報をご確認出来ます。</p>
                                <small><a href="https://www.fda.gov/">FDA（Food and Drug Administration）からの承認品　（FDAサイト）</a></small>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->


{% endblock %}

